<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />
  </head>
  <body>
    <div class="v-nav">
      <i class="ti ti-home xxxl"></i>
      <i class="ti xxxl"></i>
      <i class="ti xxxl"></i>
      <i class="ti xxxl"></i>
    </div>
    <div class="content">
      <div class="content-name">
        <div class="today"></div>
        <div class="carousel"></div>
      </div>
    </div>
    <script src="carrousel/script.js"></script>
    <script src="consolelog.js"></script>
  </body>
</html>
