.otoday {
  display: flex;
  flex-direction: row;
}

.time {
  align-self: center;
  margin-block: 7px;
  writing-mode: sideways-lr;
  font-size: 20pt;
  font-weight: 700;
}

.pwish {
  align-self: center;
  margin-block: 7px;
  writing-mode: sideways-lr;
  font-size: 18pt;
  font-weight: 600;
}

.gtoday {
  margin: 10px;
  padding: 12px;
  border-radius: 15px;
  border: 2px solid black;
  display: inherit;
  align-items: center;
  flex-direction: inherit;
}

.gday {
  display: inherit;
  align-items: center;
  flex-direction: column;
}

.num {
  margin: 0;
  font-size: 80pt;
  font-weight: 750;
}

.day {
  margin: 0;
  font-size: 44pt;
  font-weight: 650;
}

.gtaks {
  display: inherit;
  flex-direction: column;
  margin: 16px;
}

.staks {
  display: inherit;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  margin: 6px;
}

.vr {
  width: 6px;
  height: 50px;
  background-color: green;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 0px;
}

.coverd {
  border-radius: 5px;
  border: 2px solid green;
  background-color: green;
  padding: 2px;
  margin: 4px;
  color: white;
}

.staks > p {
  margin: 10px 5px 10px 5px;
}

.school {
  border-color: green;
}

.chart {
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid black;
  display: inherit;
  align-items: center;
  flex-direction: inherit;
}
