/*:root {
    
}*/

/* w,h */
html, body {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  font-family: "Ysabeau Infant", serif;
  justify-content: flex-start;
  gap: 10px;
}

.app {
  width: inherit;
  display: inherit;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.content {
  padding: 20px;
  width: inherit;
}

.i-p {
  padding-right: 5px;
}  

.p-i {
  padding-left: 5px;
}  

.rounded {
  border-radius: 100%;
  padding: 5px;
  border-color: transparent;
  background-color: transparent;
  color: inherit;
}

.rounded.inverted {
  background-color: black;
  color: white;
}

#current-item {
  display: flex;
  flex-direction: row;
}

.inline {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.suggestion-box {
  border-color: white;
  border: solid;
  text-align: center;
  width: 80%;
  padding: 5px;
}

.suggestion-box > li {
  display: none;
}

.side-nav > hr {
  margin-inline: 8px;
}

.suggestion-box:hover {
  background-color: grey;
}

.suggestion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.right-content {
  margin-right: 10px;
}

.left-content {
  margin-left: 10px;
}

.gcolumna {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.columna {
  display: inherit;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: white solid;
  width: 100%;
}

.completada {
  background-color: #2a7a2a;
  color: white;
}

.actual {
  background-color: orange;
  color: white;
}

.avanzada {
  background-color: black;
  color: white;
}

.gtitle {
  display: flex;
  flex-direction: row;
  writing-mode: sideways-lr;
  gap: 10px;
}

.bottom-left {
  position: fixed;
  bottom: 0;
}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.cont {
  background-color: aqua;
  border-radius: 5px;
  height: 100px;
}

.task {
  margin: 16px;
  display: flex;
  flex-direction: row;
}


.x {
  font-size: large;
}

.xl {
  font-size: x-large;
}

.xxl {
  font-size: xx-large;
}

.menu {
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 0%;
  right: 0%;
  margin: 15px;
}

.circular {
  border-radius: 100%;
  padding: 10px;
  background-color: black;
  color: white;
}

.gopt {
  display: none;
}

.gopt.active{
  display: flex;
  flex-direction: column-reverse;
}

.gopt.active > div {
  display: flex;
  
  background-color: black;
  color: white;
  border-radius: 10px;
  gap: 10px;
}

.frase-cel {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 60%;
  z-index: -1;
}
